html, body {
  height: 100%;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
#root {
  height: 100%;
}
#category-page-grid {
  height: 100%;
}
#category-list {
  width: 25%;
  top: 0px;
  bottom: 0px;
  position: fixed;
  overflow-y: scroll;
}
#category-list * {
  margin: auto;
}
#term-container {
  margin-left: 25%;
}
.category-list-image {
  width:100px;
   height:100px;
  margin: auto;
/*Scale down will take the necessary specified space that is 100px x 100px without stretching the image*/
    object-fit:scale-down;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
